* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url('./back.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100%;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    margin: 2vw;
    text-align: center;
    font-size: 4vw;
}

.p-errx {
    display: none;
    position: absolute;
    top: 10%;
    left: 35%;
    color: rgba(240, 87, 87, 0.722);
}

.p-erry {
    display: none;
    position: absolute;
    top: 40%;
    left: 35%;
    color: rgba(240, 87, 87, 0.722);
}

.arbtn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.morph {
    width: 90%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
}

.X-axis,
.Y-axis {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vw;
}

.X-axis label,
.Y-axis label {
    font-size: 1.3vw;
}

.X-axis input,
.Y-axis input,
.dropdown select {
    border: blue 2px solid;
    border-radius: 10px;
    padding: 0.4vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.dropdown {
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown label {
    font-size: 1.3vw;
    margin: 1vw;
}

.dropdown option {
    font-size: 1.3vw;
    font-weight: 400;
    opacity: 0.8;
    color: crimson;
}